.htaccess
php_error.log
web.config
framework/config.inc.php
log/*
.design/*
assets/styles/site.css
assets/images/branding/imgSUC1_old.png
assets/images/branding/calendar-suc_old.png
assets/images/template/mbc/calendar-suc_old.png
assets/images/template/mbc/img-suc1_old.png
