@brand_1:     #4463A6;
@brand_2:     #0FB8F3;

@light_background:  #FFFFFF;
@light_foreground:  #959595;

@dark_background:   #252525;
@dark_foreground:   #FFFFFF;

@base_font_size: 14px;

@base_font_family:     'Roboto', Arial, Helvetica, sans-serif;
@title_font_family:    'Roboto', Arial, Helvetica, sans-serif;
@subtitle_font_family: 'Roboto', Arial, Helvetica, sans-serif;

@h1_size: 2.074em;
@h2_size: 1.728em;
@h3_size: 1.440em;
@h4_size: 1.200em;